.hide {
  display: none;
}

.flex-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --color1: $color1;
  --color2: $color2;
  --color3: $color3;
  --color4: $color4;
  --red: $red;
  --yellow: $yellow;
  --white: $white;
  --black: $black;
  --fuente1: 'Quicksand', sans-serif;
}

* {
  font-family: var(--fuente1);
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  z-index: 10;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #F8F8F8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 600px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  z-index: 30;
}

.popup .btn-cerrarPop {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  color: #BBBBBB;
}

.popup .btn-cerrarPop:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup .contenedor-popup {
  opacity: 0;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.popup.active h3 {
  -webkit-animation: entradaTitulo .8s ease .5s forwards;
          animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active form {
  -webkit-animation: entradaSubtitulo .8s ease .5s forwards;
          animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active input[type="submit"] {
  -webkit-animation: entrada3 1s linear 1s forwards;
          animation: entrada3 1s linear 1s forwards;
}

@-webkit-keyframes entradaTitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes entradaSubtitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes entrada3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes entrada3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */